In [403]:
import pandas as pd
import numpy as np
import os
from glob import glob
import sys
import warnings
from time import time

### 46225 Torrey Pines

In [622]:
cd

/Users/karatechop

In [623]:
cd /Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/buoy/buoy Station 46225 - Torrey Pines Outer, CA (100)

/Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/buoy/buoy Station 46225 - Torrey Pines Outer, CA (100)

In [631]:
ls

2008_buoy_46225(JORDAN).csv
46225h2008 copy.csv
46225h2008.txt
46225h2008.txt.gz
46225h2009.txt
46225h2009.txt.gz
46225h2010.txt
46225h2010.txt.gz
46225h2011.txt
46225h2011.txt.gz
46225h2012.txt
46225h2012.txt.gz
46225h2013.txt
46225h2013.txt.gz
46225h2014.txt
46225h2014.txt.gz
46225h2015.txt
46225h2015.txt.gz
46225h2016.txt
46225h2016.txt.gz
46225h2017.txt
46225h2017.txt.gz
46225h2018.txt
46225h2018.txt.gz
46225h2019.txt
46225h2019.txt.gz
46225h2020.txt
46225h2020.txt.gz
46225h2021.txt
46225h2021.txt.gz
all_buoy_years_073_lajolla.csv
all_buoy_years_46225.csv
ndbc.noaa.gov:station_page..textClipping

In [633]:
pd.read_fwf('46225h2015.txt')

,#YY,MM,DD,hh,mm,WDIR WSPD GST,WVHT,DPD,APD,MWD PRES,ATMP,WTMP,DEWP,VIS,TIDE
0,#yr,mo,dy,hr,mn,degT m/s m/s,m,sec,sec,degT hPa,degC,degC,degC,mi,ft
1,2015,01,01,00,06,999 99.0 99.0,0.88,13.33,5.50,273 9999.0,999.0,16.9,999.0,99.0,99.00
2,2015,01,01,00,36,999 99.0 99.0,0.88,14.29,5.77,260 9999.0,999.0,16.9,999.0,99.0,99.00
3,2015,01,01,01,06,999 99.0 99.0,0.75,14.29,5.63,264 9999.0,999.0,16.9,999.0,99.0,99.00
4,2015,01,01,01,36,999 99.0 99.0,0.72,9.88,6.08,274 9999.0,999.0,16.9,999.0,99.0,99.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16713,2015,12,31,21,51,999 99.0 99.0,0.83,14.29,9.36,232 9999.0,999.0,16.3,999.0,99.0,99.00
16714,2015,12,31,22,21,999 99.0 99.0,0.81,13.33,9.06,247 9999.0,999.0,16.4,999.0,99.0,99.00
16715,2015,12,31,22,51,999 99.0 99.0,0.81,13.33,8.97,247 9999.0,999.0,16.3,999.0,99.0,99.00
16716,2015,12,31,23,21,999 99.0 99.0,0.86,12.50,8.60,267 9999.0,999.0,16.3,999.0,99.0,99.00
16717,2015,12,31,23,51,999 99.0 99.0,0.85,13.33,7.89,250 9999.0,999.0,16.3,999.0,99.0,99.00

In [624]:
print(main.columns)

Index(['year', 'month', 'day', 'hour', 'minute', 'WSPD', 'air_temp',
       'datetime', 'buoy'],
      dtype='object')

In [625]:
def fix_wspd(df): 
    if 'WSPD' in df.columns:
        return 
    else: 
        for i in df.columns:
            if 'WSPD' in i and i != 'WSPD': 
                print(i)
                correct_wspd = int(input("Which index is WSPD at?"))
                df.rename(columns={i:'WSPD'},inplace=True)
                df['WSPD'] = [(i.split()[correct_wspd]) for i in df['WSPD']]

# df_test = pd.read_fwf('ljpc1h2013.txt')
# fix_wspd(df_test)

It appears we're lacking air temperature data for every year.

In [626]:
default = ['#YY', 'MM', 'DD', 'hh', 'mm']

for i in range(2009,2020):
    try:
        df_test = pd.read_fwf(f'46225h{i}.txt')
    #     (df_test.columns[:5] == default).all()
        print(df_test.loc[1:,'ATMP'].isna().sum(),'\n')
    except:
        pass

0

0

0

0

0

0

0

0

0

0

0

In [627]:
PATH = os.getcwd()
EXT = "*.txt"
default = ['#YY', 'MM', 'DD', 'hh', 'mm']
count = 0


for path, subdir, files in os.walk(PATH):
    for file in glob(os.path.join(path, EXT)):
        if 'jordan' not in file.lower() and 'all_buoy_years' not in file.lower() and 'copy' not in file.lower() and '.txt' in file.lower():
            if count == 0:
                main = pd.read_fwf(file)
                
                print(file[-14:],'\n',main.columns)
                
                if (main.columns[:5]==default).all():
                    main[['year', 'month', 'day', 'hour', 'minute']] = main[['#YY', 'MM', 'DD', 'hh', 'mm']]
                    if 'ATMP' in main.columns:
                        main['air_temp'] = main['ATMP']
                    else:
                        main['air_temp'] = main[input("Select air_temp col: \n\n")]
                else:
                    main['year'] = main[input("Select year col: ")]
                    main['month'] = main[input("Select month col: ")]
                    main['day'] = main[input("Select day col: ")]
                    main['hour'] = main[input("Select hour col: ")]
                    main['minute'] = main[input("Select minute col: ")]
                    main['air_temp'] = main[input("Select air_temp col: \n\n")]
                
                fix_wspd(main)


                main = main[['year','month','day','hour','minute','WSPD','air_temp']].iloc[1:,:].astype(float)
                count+=1
                
                
                
            else: 
                df = pd.read_fwf(file)
                
                print(file[-14:],'\n',df.columns)
                
                if (df.columns[:5]==default).all():
                    df[['year', 'month', 'day', 'hour', 'minute']] = df[['#YY', 'MM', 'DD', 'hh', 'mm']]
                    if 'ATMP' in df.columns:
                        df['air_temp'] = df['ATMP']
                    else:
                        df['air_temp'] = df[input("Select air_temp col: \n\n")]
                else:
                    df['year'] = df[input("Select year col: ")]
                    df['month'] = df[input("Select month col: ")]
                    df['day'] = df[input("Select day col: ")]
                    df['hour'] = df[input("Select hour col: ")]
                    df['minute'] = df[input("Select minute col: ")]
                    df['air_temp'] = df[input("Select air_temp col: \n\n")]

                fix_wspd(df)


                df = df[['year','month','day','hour','minute','WSPD','air_temp']].iloc[1:,:].astype(float)
                main = pd.concat([main,df]) 
                count+=1

46225h2015.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2014.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2016.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2017.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2013.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2012.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2010.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2011.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2008.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2020.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2021.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2009.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2019.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
46225h2018.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1

In [628]:
main = main.replace(999.0,None)
main = main.replace(99.0,None)
main['datetime'] = pd.to_datetime(main[['year','month','day','hour']])
main['buoy'] = '46225 OUTER'
main
main.to_csv('all_buoy_years_46225.csv',index=False)

In [629]:
main.isna().sum()

year             0
month            0
day              0
hour             0
minute           0
WSPD        238373
air_temp    238373
datetime         0
buoy             0
dtype: int64

### 073 La Jolla

In [605]:
cd

/Users/karatechop

In [606]:
cd /Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/buoy/buoy Station LJPC1 - La Jolla, CA (073)/

/Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/buoy/buoy Station LJPC1 - La Jolla, CA (073)

In [607]:
ls

all_buoy_years_073.csv          ljpc1h2013.txt
all_buoy_years_073_lajolla.csv  ljpc1h2013.txt.gz
all_buoy_years_46225.csv        ljpc1h2014.txt
ljpc1h2005.txt                  ljpc1h2014.txt.gz
ljpc1h2005.txt.gz               ljpc1h2015.txt
ljpc1h2006.txt                  ljpc1h2015.txt.gz
ljpc1h2006.txt.gz               ljpc1h2016.txt
ljpc1h2007.txt                  ljpc1h2016.txt.gz
ljpc1h2007.txt.gz               ljpc1h2017.txt
ljpc1h2008.txt                  ljpc1h2017.txt.gz
ljpc1h2008.txt.gz               ljpc1h2018.txt
ljpc1h2009.txt                  ljpc1h2018.txt.gz
ljpc1h2009.txt.gz               ljpc1h2019.txt
ljpc1h2010.txt                  ljpc1h2019.txt.gz
ljpc1h2010.txt.gz               ljpc1h2020.txt
ljpc1h2011.txt                  ljpc1h2020.txt.gz
ljpc1h2011.txt.gz               ljpc1h2021.txt
ljpc1h2012.txt                  ljpc1h2021.txt.gz
ljpc1h2012.txt.gz

In [609]:
PATH = os.getcwd()
EXT = "*.txt"
default = ['#YY', 'MM', 'DD', 'hh', 'mm']
count = 0


for path, subdir, files in os.walk(PATH):
    for file in glob(os.path.join(path, EXT)):
        if 'jordan' not in file.lower() and 'all_buoy_years' not in file.lower() and 'copy' not in file.lower() and '.txt' in file.lower():
            if count == 0:
                main = pd.read_fwf(file)
                
                print(file[-14:],'\n',main.columns)
                
                if (main.columns[:5]==default).all():
                    main[['year', 'month', 'day', 'hour', 'minute']] = main[['#YY', 'MM', 'DD', 'hh', 'mm']]
                    if 'ATMP' in main.columns:
                        main['air_temp'] = main['ATMP']
                    else:
                        main['air_temp'] = main[input("Select air_temp col: \n\n")]
                else:
                    main['year'] = main[input("Select year col: ")]
                    main['month'] = main[input("Select month col: ")]
                    main['day'] = main[input("Select day col: ")]
                    main['hour'] = main[input("Select hour col: ")]
                    main['minute'] = main[input("Select minute col: ")]
                    main['air_temp'] = main[input("Select air_temp col: \n\n")]
                
                fix_wspd(main)


                main = main[['year','month','day','hour','minute','WSPD','air_temp']].iloc[1:,:].astype(float)
                count+=1
                
                
                
            else: 
                df = pd.read_fwf(file)
                
                print(file[-14:],'\n',df.columns)
                
                if (df.columns[:5]==default).all():
                    df[['year', 'month', 'day', 'hour', 'minute']] = df[['#YY', 'MM', 'DD', 'hh', 'mm']]
                    if 'ATMP' in df.columns:
                        df['air_temp'] = df['ATMP']
                    else:
                        df['air_temp'] = df[input("Select air_temp col: \n\n")]
                else:
                    df['year'] = df[input("Select year col: ")]
                    df['month'] = df[input("Select month col: ")]
                    df['day'] = df[input("Select day col: ")]
                    df['hour'] = df[input("Select hour col: ")]
                    df['minute'] = df[input("Select minute col: ")]
                    df['air_temp'] = df[input("Select air_temp col: \n\n")]

                fix_wspd(df)


                df = df[['year','month','day','hour','minute','WSPD','air_temp']].iloc[1:,:].astype(float)
                main = pd.concat([main,df]) 
                count+=1

ljpc1h2018.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WSPD GST
Which index is WSPD at?0
ljpc1h2019.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WSPD GST
Which index is WSPD at?0
ljpc1h2009.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2021.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2020.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2008.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2012.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
ljpc1h2006.txt
 Index(['YYYY', 'MM', 'DD', 'hh', 'mm', 'WD', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD', 'BAR', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
Select year col: YYYY
Select month col: MM
Select day col: DD
Select hour col: hh
Select minute col: mm
Select air_temp col:

ATMP
WSPD GST
Which index is WSPD at?0
ljpc1h2007.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2013.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
ljpc1h2005.txt
 Index(['YYYY', 'MM', 'DD', 'hh', 'mm', 'WD', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD', 'BAR', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
Select year col: YYYY
Select month col: MM
Select day col: DD
Select hour col: hh
Select minute col: mm
Select air_temp col:

ATMP
WSPD GST
Which index is WSPD at?0
ljpc1h2011.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
ljpc1h2010.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD', 'PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WSPD GST
Which index is WSPD at?0
ljpc1h2014.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD', 'GST', 'WVHT', 'DPD',
       'APD', 'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
ljpc1h2015.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR', 'WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WSPD GST
Which index is WSPD at?0
ljpc1h2017.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1
ljpc1h2016.txt
 Index(['#YY', 'MM', 'DD', 'hh', 'mm', 'WDIR WSPD GST', 'WVHT', 'DPD', 'APD',
       'MWD   PRES', 'ATMP', 'WTMP', 'DEWP', 'VIS', 'TIDE'],
      dtype='object')
WDIR WSPD GST
Which index is WSPD at?1

In [610]:
main = main.replace(999.0,None)
main = main.replace(99.0,None)
main['datetime'] = pd.to_datetime(main[['year','month','day','hour']])
main['buoy'] = '073 INNER'
main
main.to_csv('all_buoy_years_073.csv',index=False)

In [611]:
main.isna().sum()

year             0
month            0
day              0
hour             0
minute           0
WSPD         23701
air_temp    102325
datetime         0
buoy             0
dtype: int64

In [497]:
main['air_temp'].isna().sum()/main['air_temp'].shape[0]

0.7905207045735476

## Joining the Two Buoys

In [615]:
la_jolla_073 = pd.read_csv('all_buoy_years_073.csv')
la_jolla_073 = la_jolla_073.rename(columns={'WSPD':'WSPD_073',
                                            'air_temp':'air_temp_073'})[['datetime','WSPD_073', 'air_temp_073']]
print(la_jolla_073.shape,'\n\n',la_jolla_073.isna().sum())

(129440, 3)

 datetime             0
WSPD_073         23701
air_temp_073    102325
dtype: int64

In [621]:
torey_46225 = pd.read_csv('all_buoy_years_46225.csv')
torey_46225 = torey_46225.rename(columns={'WSPD':'WSPD_46225',
                                          'air_temp':'air_temp_46225'})[['datetime','WSPD_46225','air_temp_46225']]
print(torey_46225.shape,'\n\n',torey_46225.isna().sum())

(238373, 3)

 datetime               0
WSPD_46225        238373
air_temp_46225    238373
dtype: int64

In [604]:
torey_46225.isna().sum()
# la_jolla_073.isna().sum()

datetime               0
WSPD_46225         23701
air_temp_46225    102325
dtype: int64

In [638]:
pd.merge(la_jolla_073,torey_46225,on='datetime',how='outer').to_csv('lj_torey_buoys.csv',index=False)

In [592]:
# dog[dog['WSPD_073'].notna() & dog['air_temp_073'].notna()]
dog[dog['WSPD_46225'].notna() & dog['air_temp_46225'].notna()]

          datetime  WSPD_073  air_temp_073  WSPD_46225  air_temp_46225
146787  2009-01-01       NaN           NaN         3.6            13.5
146788  2009-01-01       NaN           NaN         0.6            11.2
146789  2009-01-01       NaN           NaN         0.5            11.0
146790  2009-01-01       NaN           NaN         0.1            10.9
146791  2009-01-01       NaN           NaN         0.4            11.3
...            ...       ...           ...         ...             ...
216498  2005-12-31       NaN           NaN         2.0            15.4
216499  2005-12-31       NaN           NaN         3.0            15.6
216500  2005-12-31       NaN           NaN         4.0            14.5
216501  2005-12-31       NaN           NaN         4.0            15.2
216502  2005-12-31       NaN           NaN         4.0            15.3

[27115 rows x 5 columns]