In [6]:
import pandas as pd
import numpy as np
import os
from glob import glob
import sys
import warnings
from time import time

In [53]:
cd /Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/original 100 year scripps temp data/bb4003017c_1_1(2)

/Users/karatechop/Library/CloudStorage/GoogleDrive-kc1558628@berkeley.edu/My Drive/ENERES 131 FINAL PROJECT (1)/data/original 100 year scripps temp data/bb4003017c_1_1(2)

In [56]:
ls

LaJolla_SALT_1916-202112(MODIFIED_FOR_PROJECT).csv
LaJolla_SALT_1916-202112.csv*
LaJolla_SALT_1916-202112.xls*
LaJolla_TEMP_1916-202112(MODIFIED_FOR_PROJECT).csv
LaJolla_TEMP_1916-202112.csv*
LaJolla_TEMP_1916-202112.xls*

In [72]:
scripps_100_temp = pd.read_csv('LaJolla_TEMP_1916-202112(MODIFIED_FOR_PROJECT).csv')
scripps_100_temp['datetime'] = pd.to_datetime(scripps_100_temp[['YEAR', 'MONTH', 'DAY']])
scripps_100_temp = scripps_100_temp[['datetime','SURF_TEMP_C']]
scripps_100_temp

scripps_100_salinity = pd.read_csv('LaJolla_SALT_1916-202112(MODIFIED_FOR_PROJECT).csv')
scripps_100_salinity['datetime'] = pd.to_datetime(scripps_100_salinity[['YEAR', 'MONTH', 'DAY']])
scripps_100_salinity = scripps_100_salinity[['datetime','SURF_SAL_PSU']]

scripps_100_joined = pd.merge(scripps_100_temp,scripps_100_salinity,how='outer')
scripps_100_joined = scripps_100_joined[scripps_100_joined['datetime']>='2008-01-01'].reset_index(drop=True)
scripps_100_joined

       datetime  SURF_TEMP_C  SURF_SAL_PSU
0    2008-01-01         13.9         33.54
1    2008-01-02         13.4         33.57
2    2008-01-03         13.4         33.58
3    2008-01-04         14.3         33.55
4    2008-01-05         14.2         33.42
...         ...          ...           ...
5109 2021-12-27         15.1         33.47
5110 2021-12-28         14.8         33.29
5111 2021-12-29         15.0         33.40
5112 2021-12-30         15.1         33.42
5113 2021-12-31         15.4         33.42

[5114 rows x 3 columns]

In [78]:
from pandas.tseries.offsets import *

In [81]:
scripps_100_joined['datetime'] = pd.to_datetime(scripps_100_joined['datetime'])
scripps_100_joined['datetime'] = scripps_100_joined['datetime'] + Week(weekday=1)
scripps_100_joined['datetime'] = scripps_100_joined['datetime'].dt.strftime('%Y-%m-%d')
scripps_100_joined = scripps_100_joined.groupby(['datetime'],as_index=False).mean()
scripps_100_joined

       datetime  SURF_TEMP_C  SURF_SAL_PSU
0    2008-01-15    13.842857     33.510000
1    2008-01-22    14.016667     33.490000
2    2008-01-29    13.928571     33.394286
3    2008-02-05    13.566667     33.473333
4    2008-02-12    13.766667     33.430000
..          ...          ...           ...
726  2021-12-14    16.942857     33.540000
727  2021-12-21    15.983333     33.515000
728  2021-12-28    15.583333     33.470000
729  2022-01-04    15.228571     33.471429
730  2022-01-11    15.075000     33.382500

[731 rows x 3 columns]

In [84]:
scripps_100_joined.to_csv('scripps_temp_sal_2008-2021.csv',index=False)

In [85]:
ls

LaJolla_SALT_1916-202112(MODIFIED_FOR_PROJECT).csv
LaJolla_SALT_1916-202112.csv*
LaJolla_SALT_1916-202112.xls*
LaJolla_TEMP_1916-202112(MODIFIED_FOR_PROJECT).csv
LaJolla_TEMP_1916-202112.csv*
LaJolla_TEMP_1916-202112.xls*
scripps_temp_sal_2005-2021.csv
scripps_temp_sal_2008-2021.csv